{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "ack"
brew "chezmoi"
brew "direnv"
brew "gh"
brew "git"
brew "ispell"
brew "just"
brew "podman"
brew "rsync"

# nethack
brew "cmake"
brew "nethack"
brew "protobuf"

# Python
brew "uv"

# Rust
brew "maturin"
brew "rust"

{{- if eq .chezmoi.username "keisuke.nishida" -}}
# Chrome
cask "google-chrome"

# Emacs
cask "emacs"

# ghostty
brew "starship"
cask "ghostty"
cask "font-0xproto-nerd-font"
{{ end -}}
EOF
{{ end -}}
