{{- if eq .chezmoi.username "keisuke.nishida" -}}
#!/bin/bash

emacs --batch \
  --eval '(load (expand-file-name "custom.el" user-emacs-directory))' \
  --eval "(require 'package)" \
  --eval "(add-to-list 'package-archives '(\"melpa\" . \"https://melpa.org/packages/\") t)" \
  --eval "(package-refresh-contents)" \
  --eval "(package-install-selected-packages)"
{{ end -}}
